<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Bank Directory</title>
</head>

<body>

<div class="container">

    <h3>Bank Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/banks/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Bank
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBank : ${banks}">

            <td th:text="${tempBank.title}"/>
            <td>
                <!-- Add "update" button/link -->
                <a th:href="@{/banks/showFormForUpdate(bankId=${tempBank.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>

                <!-- Add "delete" button/link -->
                <a th:href="@{/banks/delete(bankId=${tempBank.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this bank?'))) return false">
                    Delete
                </a>

                <!-- Add "client list" button/link -->
                <a th:href="@{/banks/showFormForClientList(bankId=${tempBank.id})}"
                   class="btn btn-success btn-sm">
                    Client List
                </a>

                <!-- Add "credit list" button/link -->
                <a th:href="@{/banks/showFormForCreditList(bankId=${tempBank.id})}"
                   class="btn btn-success btn-sm">
                    Credit List
                </a>

            </td>

        </tr>
        </tbody>
    </table>

    <a th:href="@{/tasks/list}">Back to Task Directory</a>
    <p></p>

</div>

</body>
</html>