<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Credit</title>
</head>

<body>
<div class="container">

    <h3>Credit Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Credit</p>

    <form action="#" th:action="@{/credits/save}"
          th:object="${credit}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{title}" id="title"
               class="form-control mb-4 col-4" placeholder="Title">
        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">error</div>
        <br/>

        <input type="text" th:field="*{limit}" id="limit"
               class="form-control mb-4 col-4" placeholder="Limit">
        <div style="color: red" th:if="${#fields.hasErrors('limit')}" th:errors="*{limit}">error</div>
        <br/>

        <input type="text" th:field="*{interestRate}" id="interestRate"
               class="form-control mb-4 col-4" placeholder="Interest Rate">
        <div style="color: red" th:if="${#fields.hasErrors('interestRate')}" th:errors="*{interestRate}">error</div>
        <br/>

        <select name="bankId" class="form-control mb-4 col-4" th:field="*{bank}">
            <option value="">Add Bank</option>
            <option th:each="tempBank : ${banks}" th:value="${tempBank.id}"
                    th:text="${tempBank.title}">
            </option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/credits/list}">Back to Credits Directory</a>
    <p></p>

</div>
</body>
</html>