<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Client</title>
</head>

<body>
<div class="container">

    <h3>Client Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Client</p>

    <form action="#" th:action="@{/clients/save}"
          th:object="${client}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{fullName}"
               class="form-control mb-4 col-4" placeholder="Full name">
        <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">error</div>
        <br/>

        <input type="text" th:field="*{phoneNumber}"
               class="form-control mb-4 col-4" placeholder="Phone number">
        <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">error</div>
        <br/>

        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email">
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">error</div>
        <br/>

        <input type="text" th:field="*{passportNumber}"
               class="form-control mb-4 col-4" placeholder="Passport number">
        <div style="color: red" th:if="${#fields.hasErrors('passportNumber')}" th:errors="*{passportNumber}">error</div>
        <br/>

        to delete the bank select the first line
        <select name="bankId" class="form-control mb-4 col-4" th:field="*{bank}">
            <option value="">Add Bank</option>
            <option th:each="tempBank : ${banks}" th:value="${tempBank.id}"
                    th:text="${tempBank.title}">
            </option>
        </select>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/clients/list}">Back to Clients Directory</a>
    <p></p>

</div>
</body>
</html>